/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    padding-top: 20px;
}


/* --------------------- Bootstrap Override --------------------- */

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.wrapper {
    width: 100%;
}

.content-wrapper {
    padding-top: 20px;
    padding-top: 30px;
}

.navbar-inverse {
    background-color: #3c8dbc;
    border-color: #132d3c;
}

    .navbar-inverse .navbar-brand {
        color: #ffffff;
        -moz-transition: color 0.5s;
        -o-transition: color 0.5s;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
    }

        .navbar-inverse .navbar-brand :hover {
            color: #d3fbff;
            -moz-transition: color 0.5s;
            -o-transition: color 0.5s;
            -webkit-transition: color 0.5s;
            transition: color 0.5s;
        }

.project-item {
    display: inline-table;
    max-width: 250px;
    min-width: 100px;
    /* margin:5px; */
    /* border: transparent; */
}

.progress {
    height: 40px;
}

.progress-bar a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

    .navbar-inverse .navbar-nav > li > a:hover, :focus {
        color: #6d6d6d;
        background-color: white;
        -moz-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        -webkit-transition: background-color;
        transition: background-color 0.5s;
    }

}

.navbar-inverse .navbar-nav > .active > a:hover, :focus {
    color: yellow;
    background-color: pink;
}

.navbar-inverse .navbar-nav > .disabled > a :hover, :focus {
    color: grey;
    background-color: transparent;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 15px;
    /* font-size: 18px; */
    line-height: 40px;
}

    .navbar-brand > div {
        height: 100%;
        float: left;
    }

.main-header .navbar {
    /*min-height: 55px;*/
}

footer {
    /*! transform: translateY( -100px); */
}
