﻿<script src="~/lib/beam-viewer/lib/three.min.js"></script>
<script src="~/lib/beam-viewer/lib/OrbitControls.js"></script>
<script src="~/lib/beam-viewer/lib/dat.gui.min.js"></script>
<script src="~/lib/beam-viewer/lib/beams.js"></script>



@*<div style="position:absolute;left:10px;top:10px;">*@

<div>
    Set camera:<br />
    &nbsp;&nbsp;<label onclick="setCameraPosition('fit_view')">Fit view</label></br>
    &nbsp;&nbsp;<label onclick="setCameraPosition('xy_view')">X-Y view</label></br>
    &nbsp;&nbsp;<label onclick="setCameraPosition('yz_view')">Y-Z view</label></br>
    &nbsp;&nbsp;<label onclick="setCameraPosition('xz_view')">X-Z view</label></br>
    &nbsp;&nbsp;<label onclick="setCameraPosition()">Default view</label></br>
</div>
@*<div style="position:absolute;left:10px;top:20%;">*@
<div>
    <textarea id="point_cloud" rows="40" cols="20"></textarea>
    <br />
    <button onclick="drawPointCloud()">Plot point cloud</button>
</div>
<canvas id="display" style="width:100%; height:100%; position:absolute; top:0; right:0;"></canvas>

<script>
    init();
    animate();
</script>